<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome aboard!  <%= description %> .</p>
    <ul>
      <% books.forEach(function(book){ %>
        <li><%= book.title %></li>
      <% }) %>
    </ul>
    
  </body>
</html>